<div class="container mt-3">
  <div class="row">
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Checkin Date</label>
        <input type="date" formControlName="checkInDate" class="form-control" />
        <div
          *ngIf="
            reservationForm.get('checkInDate')?.invalid &&
            reservationForm.get('checkInDate')?.touched
          "
        >
          Checkin Date is required
        </div>
      </div>
      <div>
        <label>Checkout Date</label>
        <input
          type="date"
          formControlName="checkOutDate"
          class="form-control"
        />
        <div
          *ngIf="
            reservationForm.get('checkOutDate')?.invalid &&
            reservationForm.get('checkOutDate')?.touched
          "
        >
          Checkout Date is required
        </div>
      </div>
      <div>
        <label>Guest Name</label>
        <input type="text" formControlName="guestName" class="form-control" />
        <div
          *ngIf="
            reservationForm.get('guestName')?.invalid &&
            reservationForm.get('guestName')?.touched
          "
        >
          Name is required
        </div>
      </div>
      <div>
        <label>Guest Email</label>
        <input type="text" formControlName="guestEmail" class="form-control" />
        <div
          *ngIf="
            reservationForm.get('guestEmail')?.invalid &&
            reservationForm.get('guestEmail')?.touched
          "
        >
          Email is required
        </div>
      </div>
      <div>
        <label>Room Number</label>
        <input
          type="number"
          formControlName="roomNumber"
          class="form-control"
        />
        <div
          *ngIf="
            reservationForm.get('roomNumber')?.invalid &&
            reservationForm.get('roomNumber')?.touched
          "
        >
          Checkin Date is required
        </div>
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="reservationForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
